<div class="content">
    <mat-card>
        <mat-tab-group mat-align-tabs="center" id="galeria">
            <mat-tab label="Eventos" class="events">
                <img src="assets/eventos/20180727_124121.jpg">
                <img src="assets/eventos/20180727_165253.jpg">
                <img src="assets/eventos/IMG-20180902-WA0001.jpg">
                <img src="assets/eventos/IMG-20181022-WA0019.jpg">
                <img src="assets/eventos/IMG-20190321-WA0156.jpg">
                <img src="assets/eventos/IMG-20190323-WA0008.jpg">
            </mat-tab>

            <mat-tab label="Prêmios">
                <img class="height2 width1" src="assets/premios/FB_IMG_1538013453238.jpg">
                <img class="height1" src="assets/premios/FB_IMG_1540909981062.jpg">
                <img class="height" src="assets/premios/IMG-20180825-WA0025.jpg">
                <img src="assets/premios/IMG-20190403-WA0046.jpg">
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>