<div colorGrey class="example-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title textYellow class="vAlign">
                <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                <p>Sobre mim</p>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p textWhite>
                Sou técnico em informática com ensino médio completo e atualmente estou cursando ciência da<br>
                computação. Informática é minha área preferida de atuação e busco melhorar meus conhecimentos na<br>
                prática.
            </p>
        </mat-card-content>
        <mat-card-subtitle class="vAlign" textWhite>
            <mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon>
            <p>Técnico em Informática - 2015 - 2019 - Instituto Federal Sul-rio-grandense - Câmpus Charqueadas</p>
        </mat-card-subtitle>
        <mat-card-subtitle class="vAlign" textWhite>
            <mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon>
            <p>Ciência da Computação - 2021 - Ainda cursando - UniRitter</p>
        </mat-card-subtitle>
        <mat-card-subtitle class="vAlign" textWhite>
            <mat-icon aria-hidden="false" aria-label="Example home icon">business</mat-icon>
            <p>Estágio em Java - 2018 - 2019 - Instituto Federal Sul-rio-grandense - Câmpus Charqueadas</p>
        </mat-card-subtitle>
    </mat-card>
</div>